<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
  
    {% load static %}
<style>
    
    body{
        background-image: url("{% static 'walkator-klMii3cR9iI-unsplash.jpg' %}");
        background-size: cover;
        background-position: center;
     }


     .header{
        padding:50px;
     }

     .leftcolumn{
        float:left;
        width: 100%%;
     }
</style>
</head>

<body>
    <div class="container">
    <div class="header text-center">
        <h1>venkat's Blog</h1>  
    </div>
    <div class="row">
        <div class="leftcolumn">     
            <div class="card p-2 mb-3">
                <a href="#" style="text-decoration:none; color:black;" ><h2>{{posts.title}}</h2>
                <h5>{{posts.body}}</h5>
                <p>{{posts.created_at}}</p></a>
            </div>    
        </div>
    </div>
</div>
</body>
</html>